html, body, #root, .container-fluid
  height: 100%
  margin: 0px
  padding: 0px
p
  font-size: 1.2em
#root .container-fluid, #root .col-sm-9
  padding: 0px
.app
  width: 100%
  // map container
.container-fluid .mapContainer
  position: fixed
  width: 100%
.mapContainer
    height: 100%
// side bar
.sidebar
  width: 300px
  overflow-x: hidden
  height: 100%
  position: absolute
  background-color: #fff
  top: 0
  right: 0
  left: 0
  z-index: 20
  padding: 10px
.list-group a
  cursor: pointer
.list-group a li:hover,
.list-group a li:focus,
.list-group a li:active
  background-color: pink
// map markers
